.about-page {
}

.about-bg {
  background: linear-gradient(
    to right,
    #bf953f,
    #fcf6ba,
    #b38728,
    #fbf5b7,
    #aa771c
  );
  padding: 1px;
}
.about-content {
  background: #111;
  padding: 1rem 20px;
  color: #acacac;
}
